<div id="popupContainer"></div>
<div class="row">
  <%= react_component(
        "DebtBoard",
        props: {
          panels: [
            {
              title: 'They owe me',
              cards: [
                {
                  title: 'milky way',
                  amount: 0.99,
                  user: {avatarUrl: asset_path('profile-photos/1.png')}
                },
                {
                  title: 'golden gaytime ice cream',
                  amount: 1.99,
                  user: {avatarUrl: asset_path('profile-photos/2.png')}
                }
              ]
            },
            {
              title: 'I owe them',
              cards: []
            },
          ]
        },
        prerender: false) %>
  <div class="col-md-4">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h3 class="panel-title">Your contacts</h3>
      </div>
      <!-- <div class="panel-body">
        <p>Here they are!</p>
      </div> -->

      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">Nazar Matus</li>
        <li class="list-group-item">Ihor Popkov</li>
        <li class="list-group-item">Yuriy Husak</li>
        <li class="list-group-item">Ioann Cross</li>
      </ul>
    </div>
  </div>
</div>
