<div class="row">
  <div class="col-md-4">
    <div class="panel panel-primary">

      <div class="panel-heading">
        <h3 class="panel-title">They owe me</h3>
      </div>

      <div class="panel-body">

        <div class="panel panel-default card">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-9 col-md-9">
                <p class="card-title">
                  golden gaytime ice cream
                </p>
              </div>
              <div class="col-xs-3 col-md-3">
                <div class="">
                  <strong>$1.99</strong>
                </div>
                <div class="row">
                  <div class="col-md-10">
                    <a href="#" class="thumbnail card-avatar">
                      <img src="https://avatars3.githubusercontent.com/u/6454731?v=3&s=40" alt="...">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default card">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-9 col-md-9">
                <p class="card-title">
                  milky way
                </p>
              </div>
              <div class="col-xs-3 col-md-3">
                <div class="">
                  <strong>$0.99</strong>
                </div>
                <div class="row">
                  <div class="col-md-10">
                    <a href="#" class="thumbnail card-avatar">
                      <img src="https://avatars3.githubusercontent.com/u/6454731?v=3&s=40" alt="...">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="panel-footer">
        <a href="#">Add new debt</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">I owe them</h3>
      </div>
      <div class="panel-body">
        No debts yet, hooray!
      </div>
      <div class="panel-footer">
        <a href="#">Add new debt</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h3 class="panel-title">Your contacts</h3>
      </div>
      <!-- <div class="panel-body">
        <p>Here they are!</p>
      </div> -->

      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">Nazar Matus</li>
        <li class="list-group-item">Ihor Popkov</li>
        <li class="list-group-item">Yuriy Husak</li>
        <li class="list-group-item">Ioann Cross</li>
      </ul>
    </div>
  </div>
</div>
